@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    @*<h1>@Page.Title.</h1>*@
    <h2>公司简介</h2>
</hgroup>

<article>
    <p>
        e-buyglobal的使命是改变世界眼中的中国，成为一个伟大的企业！成立于2006年，为实现公司发展的宏伟目标，最终将总部搬迁至中国对外经济贸易最重要的口岸城市之一 -- 深圳。经过几年的发展，已经建立起以深圳、宁波为全球办公中心，英国、美国为仓储中心，并陆续在中国、美国、英国、德国、澳洲等区域建立并运营了自己的仓储基地，业务辐射欧、亚、美、澳洲等几大市场版块的新兴电子商务的国际化销售企业。

    </p>

    <p>
        e-buyglobal拥有一支具有丰富国际管理与技术经验的领导团队，在深圳、宁波、香港、美国、澳大利亚等地区拥有300多名年轻、优秀、充满激情的员工。
    </p>

    <p>
        e-buyglobal的人才观是：以人为本，任人唯贤！我们在茫茫人海中相遇，是我们的缘分，既然缘分使我们发现你，我们就有义务塑造你，所以我们会训练你“铁人三项的体魄与意志”，也要传授你“展翅飞翔的空气动力学”；而你将成就的是一个光荣远大的梦想，一段激情快乐的旅程和一份受益终生的收获。
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>*@