@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "联系方式";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    @*<h2>联系方式</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>电话号码:</h3>
    </header>
    <p>
        <span class="label">Tony Song</span>
        <span>13714661499/0755-85269996</span>
    </p>
    @*<p>
        <span class="label">宋先生</span>
        <span>18666666666</span>
    </p>*@
</section>

<section class="contact">
    <header>
        <h3>邮箱:</h3>
    </header>
    <p>
        <span class="label">Tony Song</span>
        <span><a href="mailto:tony.song@goskygroup.com">tony.song@goskygroup.com</a></span>
    </p>
    @*<p>
        <span class="label">市场:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">售后服务:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>*@
</section>

<section class="contact">
    <header>
        <h3>地址:</h3>
    </header>
    <p>
        深圳市宝安区<br />
        福永街道下十围路博迪创新科技园A楼一楼
    </p>
</section>